FB_CLIENT_ID=YOUR OWN FACEBOOK CLIENT ID
FB_CLIENT_SECRET=YOUR OWN FACEBOOK CLIENT SECRET
SESSION_SECRET=YOUR OWN SESSION SECRET
DATABASE_URL=YOUR POSTGRES DATABASE URL
REDIRECT_DOMAIN=REDIRECT DOMAIN FOR FACEBOOK AUTH
PORT=PORT NUMBER FOR EXPRESS
