TWITTER_CONSUMER_KEY=YOUR OWN TWITTER CONSUMER KEY
TWITTER_CONSUMER_SECRET=YOUR OWN TWITTER CONSUMER SECRET
SESSION_SECRET=YOUR OWN SESSION SECRET
DATABASE_URL=YOUR POSTGRES DATABASE URL
REDIRECT_DOMAIN=REDIRECT DOMAIN FOR FACEBOOK AUTH
PORT=PORT NUMBER FOR EXPRESS
