<h1><a href="/">Lets-Vote</a></h1>
<% if (!user) { %>

	<h1>Login</h1>

	<form action="/login" method="post">
		<div>
			<label for="username">Username:</label>
			<input type="text" name="username"/><br/>
		</div>

		<div>
			<label for="password">Password:</label>
			<input type="password" name="password"/>
		</div>

		<div>
			<input type="submit" value="Submit"/>
		</div>
	</form>

	<p><a href="/login/facebook">Sign in with Facebook</a></p>

	<h1>Register</h1>

	<form action="/signup" method="post">
		<div>
			<label for="displayName">Name:</label>
			<input type="text" name="displayName" value="">
		</div>

		<div>
			<label>Username:</label>
			<input type="text" name="username"/><br/>
		</div>

		<div>
			<label>Password:</label>
			<input type="password" name="password"/>
		</div>

		<div>
			<input type="submit" value="Submit"/>
		</div>
	</form>


<% } else { %>
	<p><%= user.displayName%></p>
	<p><a href="/newpoll">New poll</a></p>
    <p><a href="/mypolls">my polls</a></p>
    <p><a href="/logout">Log out</a></p>
<% } %>

<p>All polls</p>
